$primary-color: #ff4a85;
$secondary-color: #fff;
$border-color: lightgray;

#p-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: quicksand, open sans, roboto, open sans, nunito, sans-serif;
  min-width: 325px;
  white-space: nowrap;
  overflow-x: auto;
  &.bordered {
    border: 1px solid $border-color;
    padding: 5px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    display: inline;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    padding: 3px 6px;

    &.active {
      background-color: $primary-color;
      color: $secondary-color;
    }

    &.disabled {
      opacity: 0.2;
      cursor: not-allowed;
      pointer-events: none;
    }

    &.hide {
      display: none;
    }

    &:hover:not(.active) {
      color: $primary-color;
      font-weight: bold;
    }
  }

  .page-size-container {
    > span {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  select {
    padding: 2.5px;
  }
}
